{% extends "Misa/layout/base.html" %}
{% block title %}Role Management{% endblock %}

{% block content %}
<h2>🧩 Quản lý Role</h2>

<!-- FILTER -->
<form method="get" class="filter-bar">
    <div class="left">
        <input type="text" name="keyword" placeholder="Tìm theo tên..." value="{{ keyword }}">

        <select name="status">
            <option value="">-- Trạng thái --</option>
            <option value="1" {{ 'selected' if status == '1' }}>Active</option>
            <option value="0" {{ 'selected' if status == '0' }}>Inactive</option>
        </select>

        <select name="sort">
            <option value="asc" {{ 'selected' if sort == 'asc' }}>Tên A → Z</option>
            <option value="desc" {{ 'selected' if sort == 'desc' }}>Tên Z → A</option>
        </select>

        <button type="submit" class="btn">Lọc</button>
    </div>

    <div class="right">
        <a href="{{ url_for('admin.create_role') }}" class="btn">➕ Thêm Role</a>
        {% if not bulk %}
            <button type="button" class="btn warning" id="btn-delete-multi-role">🗑️ Xóa nhiều</button>
            <button type="button" class="btn danger"  id="btn-delete-all-role">🔥 Xóa tất cả</button>
        {% else %}
            <button type="button" class="btn" id="btn-cancel-bulk-role">❌ Hủy</button>
        {% endif %}
    </div>
</form>

<!-- TABLE -->
<form method="post" id="delete-form" action="{{ url_for('admin.delete_roles') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {% if bulk %}
    <div class="bulk-bar">
        <div class="bulk-info">
            🧾 Đã chọn
            <b id="selected-count">{{ selected_count }}</b>
            user
        </div>

        <div class="bulk-actions">
            <button type="submit"
                    class="btn danger"
                    id="btn-confirm-delete"
                    {% if selected_count == 0 %}disabled{% endif %}
                    onclick="return confirm('⚠️ Bạn chắc chắn muốn xóa các role đã chọn?')">
                🗑️ Xóa
            </button>
        </div>
    </div>
    {% endif %}
    <table class="data-table">
        <thead>
            <tr>
                {% if bulk %}
                <th class="cb-col">
                    <input type="checkbox" id="select-all-role"
                           {% if bulk == 'all' %}checked{% endif %}>
                </th>
                {% endif %}
                <th>Role</th>
                <th>Trạng thái</th>
                <th width="120">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for u in roles %}
            <tr>
                {% if bulk %}
                    {%if u.RoleId != 1%}
                    <td class="cb-col">
                        <input type="checkbox"
                               class="row-check-role"
                               value="{{ u.RoleId }}"
                               {% if u.RoleId in session.get('bulk_selected_role', []) %}checked{% endif %}>
                    </td>
                     {% else %}
                    <td class="cb-col">
                        <input type="checkbox" style="visibility:hidden">
                    </td>
                    {% endif %}
                {% endif %}
                <td>{{ u.RoleName }}</td>
                <td>
                    {% if u.Status == 1 %}
                        <span class="badge active">Active</span>
                    {% else %}
                        <span class="badge inactive">Inactive</span>
                    {% endif %}
                </td>

                <td class="action">
                    {%if u.RoleId != 1%}
                    <a href="{{ url_for('admin.edit_role', id=u.RoleId) }}"
                       class="btn-icon edit">✏️</a>

                    <a href="{{ url_for('admin.delete_role_route', id=u.RoleId) }}"
                       class="btn-icon delete"
                       onclick="return confirm('Xoá role này?')">🗑️</a>

                    <a href="{{ url_for('admin.role_permissions', id=u.RoleId, name=u.RoleName) }}"
                       class="btn-icon edit"
                       title="Phân quyền report">📄</a>

                    <a href="{{ url_for('admin.role_permissions_cate', id=u.RoleId, name=u.RoleName) }}"
                       class="btn-icon edit"
                       title="Phân quyền thể loại">🏷️</a>
                    {% endif%}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="empty">Không có dữ liệu</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% if total_pages > 1 %}
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('admin.roles', page=page-1, keyword=keyword, status=status, sort=sort) }}">&laquo; Prev</a>
    {% endif %}

    {% for p in range(1, total_pages + 1) %}
        <a href="{{ url_for('admin.roles', page=p, keyword=keyword, status=status, sort=sort) }}"
           class="{{ 'active' if p == page else '' }}">{{ p }}</a>
    {% endfor %}

    {% if page < total_pages %}
        <a href="{{ url_for('admin.roles', page=page+1, keyword=keyword, status=status, sort=sort) }}">Next &raquo;</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
