{% extends "layout/base.html" %}

{% block title %}Lịch sử tải xuống{% endblock %}

{% block content %}

<h2>📜 Lịch sử hoạt động</h2>
<form method="get" class="history-filter">
    <div class="filter-group">
        <label>Từ ngày</label>
        <input type="date"  name="from_date" value="{{ from_date }}">
    </div>

    <div class="filter-group">
        <label>Đến ngày</label>
        <input type="date" name="to_date" value="{{ to_date }}">
    </div>

    <div class="filter-group search-group">
        <label>Tên Report</label>
        <input type="text"
               name="keyword"
               placeholder="Tìm theo tên report..."
               value="{{ keyword }}">
    </div>

    <button type="submit" class="btn filter-btn">🔍 Lọc</button>

    {% if from_date or to_date %}
        <a href="{{ url_for('user.history') }}" class="btn reset-btn">✖ Reset</a>
    {% endif %}
</form>
{% if histories_by_date %}
    {% for date, items in histories_by_date.items() %}
        <h3 class="history-date">📅 {{ date }}</h3>

        <table class="history-table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên report</th>
                    <th>Hành động</th>
                    <th>Thời gian</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {% for h in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="report-name">
                        <a href="{{ url_for('user.view_report', report_id=h.ReportId) }}"
                           title="{{ h.ReportName }}"
                           target="_blank">
                            {{ h.ReportName }}
                        </a>
                    </td>
                    <td>
                        {% if h.Action == 'download' %}
                            <span class="history-action download">⬇ Tải</span>
                        {% else %}
                            <span class="history-action view">👁 Xem</span>
                        {% endif %}
                    </td>
                    <td>{{ h.CreatedAt.strftime('%H:%M') }}</td>
                    <td>
                        <a href="{{ url_for('user.view_report', report_id=h.ReportId) }}"
                           target="_blank" class="btn view">👁 Xem</a>

                        <button
                            class="btn download"
                            data-report-id="{{ h.ReportId }}"
                        >
                            ⬇ Tải
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
<p>Chưa có lịch sử hoạt động nào.</p>
{% endif %}

{% endblock %}
